// Import Bulma's core
@import url('https://fonts.googleapis.com/css?family=Nunito:400,500,600,700');
$family-sans-serif: "Nunito", sans-serif;
body{
    background-color: #fbf5f3;
    min-height: 100vh;
    height: 100%;
}

@import "~bulma/sass/utilities/_all";


// Set your colors
$primary: #af5e56;
$primary-invert: findColorInvert($primary);
$accent: #6665dd;
$accent-invert: findColorInvert($accent);
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);
$danger-light: #CB9590;
$danger-light-invert: findColorInvert($danger);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
    "twitter": ($twitter, $twitter-invert),
    "accent": ($accent, $accent-invert),
    "danger-light" : ($danger-light, $danger-light-invert)
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";


.page-enter-active, .page-leave-active {
    transition: opacity .2s
}
.page-enter, .page-leave-active {
    opacity: 0
}
  