<template>
  <div>
    <b-navbar type="is-primary">
        <template slot="brand">
            <b-navbar-item tag="a" href="/">
                <img src="~assets/logo_v2_text.png" alt="Logo" height="100" />
            </b-navbar-item>
        </template>
        <template slot="start">
            <b-navbar-item v-for="(item, key) of items" :key="key" tag="router-link" exact-active-class="is-active" :to="item.to">
                <span style="margin-right:8px"><b-icon :icon="item.icon"/></span>{{ item.title }}
            </b-navbar-item>
        </template>

        <template slot="end">
            <b-navbar-item tag="div">
                <div class="buttons">
                   <nuxt-link :to="{ name: 'form' }">
                    <div class="button is-primary is-primary is-inverted has-text-weight-bold">
                      I got one!
                    </div>
                  </nuxt-link>
                </div>
            </b-navbar-item>
        </template>
    </b-navbar>

    <section class="main-content columns">
      <!-- <aside class="column is-2 section">
        <p class="menu-label is-hidden-touch">
          General
        </p>
        <ul class="menu-list">
          <li v-for="(item, key) of items" :key="key">
            <nuxt-link :to="item.to" exact-active-class="is-active">
              <b-icon :icon="item.icon" /> {{ item.title }}
            </nuxt-link>
          </li>
          <br />
          <li class="has-text-centered">
            <nuxt-link :to="{ name: 'form' }">
              <div class="button is-primary is-large is-primary is-rounded">
                I got one!
              </div>
            </nuxt-link>
          </li>
        </ul>
      </aside> -->

      <div class="container column is-10">
        <nuxt />
      </div>
    </section>
  </div>
</template>

<script>
export default {
  data() {
    return {
      items: [
        {
          title: 'Home',
          icon: 'keyboard',
          to: { name: 'index' },
        },
        {
          title: 'About',
          icon: 'information',
          to: { name: 'about' },
        },
        {
          title: 'Contact',
          icon: 'account-box',
          to: { name: 'contact' },
        },
      ],
    }
  },
}
</script>
<style lang="scss">
 .navbar-item {
   outline-width: 0;
 }
</style>
