<template>
  <section class="section">
    <div class="box">
      <h2 class="title is-4 has-text-grey">Why?</h2>
      <p class="has-text-weight-semibold">Why not?</p>
      <p class="has-text-weight-semibold">
        It's half wanting to help people, half wanting to see how far the
        testers can go and a bitta craic if nothing else.
      </p>
      <br />
      <p class="has-text-weight-semibold">
        I put off buying a tester for a long time and ended up with taking a
        gamble on some MX Browns which were just disappointing.
        <br />I'm interested to see how far it can go before someone steals it
        to be honest. Information about this site is printed with the board so
        even if someone does steal it, I hope at some point it might even
        resurface on here!
      </p>
    </div>

    <div class="box">
      <h2 class="title is-4 has-text-grey">Sending Tips</h2>
      <p class="has-text-weight-semibold">
        The whole idea of this is to have very little formal process in place. I
        want to leave pretty much every detail up to individuals who receive
        boards.
        <br />Having said that, I can put forward some general guidelines of how
        I think this should go once you feel it's time to send the board on. My
        general vision of this involves the receiver paying for shipping, but
        this isn't necessary.
      </p>
      <br />
      <p class="has-text-weight-bold">Picking a recipient</p>
      <p class="has-text-weight-semibold">
        Few possibilities here; the most obvious being choose someone you know
        IRL.
        <br />I'm sure, like me, you've been dieing to have someone to gush to
        about that new KAT set that dropped or the Z-Butt you have on the way.
        This is a pretty good way to get someones feet wet.
        <br />
        <br />Failing that, another possibility is to make a [giveaway] thread
        on <a href="https://reddit.com/r/mechmarket">Reddit's /r/mechmarket</a>.
        <br />
        <a
          href="https://www.reddit.com/r/mechmarket/comments/hizb7n/giveaway_free_starter_mechanical_keyboard_to/"
          >Here's a recent example of a giveaway thread.</a
        >
        Check out the rules on there to try avoid disreputable people.
        <br />
        <br />Literally any other way is good to, hand it to a stranger on the
        street, throw it as a bouquet at your wedding. Just don't be a dick and
        try sell it really. Or do, you do you, just be sure to point them to
        here and run like hell.
      </p>
      <br />
      <p class="has-text-weight-bold">Packing</p>
      <p class="has-text-weight-semibold">
        I've tried to do my best to make secure and reusable packaging so feel
        free to reuse it if you can.
        <br />If in doubt refer to your local postal service for advice on
        packaging material and associated costs.
      </p>
      <br />
      <p class="has-text-weight-bold">Tester Code</p>
      <p class="has-text-weight-semibold">
        Ensure that the keyboard code is included in the packaging somewhere,
        it's a small security measure to prevent the flooding of entries into
        the DB from a malicious Mallory.
        <br />I've included mine on some nice card stock in the packages, so
        send that on if you want. Make or design your own if you're creatively
        minded, or just send it to them in a message if you have a contact
        method.
        <br />
        <br />If you've received a package from a ghost and no code was included
        <nuxt-link :to="{ name: 'contact' }">contact me </nuxt-link>and we can
        reset it.
      </p>
      <br />
      <p class="has-text-weight-bold">Goodies</p>
      <p class="has-text-weight-semibold">
        I've tried to leave some space in the packaging for some goodies. Extra
        switches, interesting PCBs, your child's drawing of how much their daddy
        or mommy spends looking at keyboards online, whatever really.
      </p>
    </div>

    <div class="box">
      <h2 class="title is-4 has-text-grey">Who?</h2>
      <p class="has-text-weight-semibold">
        Just little old me. I got involved in the mech keyboard scene fairly
        recently, went straight to split ergo boards and haven't looked back. On
        an unrelated note if anyone is sitting on a RGBKB Sol 2 that they're
        trying to get rid of hit me up. I will pay far too much money for this
        board.
        <br /><br />Other than that I'm a bad programmer from Ireland who needed
        a hobby and ended up in this. The way I see it I'm just happy I didn't
        get into miniatures or Magic the Gathering. I'd be a much poorer man.
      </p>
    </div>

    <div class="box">
      <h2 class="title is-4 has-text-grey">Can I make one too?</h2>
      <p class="has-text-weight-semibold">Yes please!</p>
      <p class="has-text-weight-semibold">
        You have a couple options to setup your own Shared Sampler.
      </p>

      <br />

      <p class="has-text-weight-bold">Host your own</p>
      <p class="has-text-weight-semibold">
        You can clone the code from Gitlab from
        <a href="https://gitlab.com/dylanhobbs/switch-sampler-frontend"> here</a
        >. It's all fairly simple stuff. Nuxt frontend and a basic Express
        Backend backed with MySQL. If you're new to coding or just generally are
        having trouble, feel free to
        <nuxt-link :to="{ name: 'contact' }">contact me </nuxt-link>if you need
        help.
      </p>

      <br />
      <p class="has-text-weight-bold">Add it to this site</p>
      <p class="has-text-weight-semibold">
        Alternatively you can
        <nuxt-link :to="{ name: 'contact' }">contact me </nuxt-link>me to add
        your keyboard to the dropdown list here. We can go through all the
        details you'll need privately.
      </p>
    </div>

    <div class="box">
      <h2 class="title is-4 has-text-grey">What are the tester boards?</h2>
      <p class="has-text-weight-semibold">
        The first boards I'm sending out are KBDFans 72 switch testing boards.
        I'm hoping to get some custom acrylic boards out with a different
        selection of switches and may start to publish the inventory for each
        board somewhere on here if it ever becomes non obvious.
        <br />Unfortunately I'm bad at life in general and making things is
        hard. All switches will be clearly labeled in any case.
      </p>
    </div>

    <div class="box">
      <h2 class="title is-4 has-text-grey">What's with the board names?</h2>
      <p class="has-text-weight-semibold">
        The names of my tester boards are inspired by the Culture Series, a
        sci-fi series written by Ian M Banks, regarding the naming of particular
        warships.
      </p>
    </div>
  </section>
</template>
