<template>
  <section class="section">
    <div class="columns">
        <div class="column">
            <card title="eMail" icon="email">
                <a :href="ad()">Send me a lovely eMail</a>
            </card>
        </div>

        <div class="column">
            <card title="Discord" icon="discord">
                <b class="has-text-grey">PHPSux#6681</b> on Discord
            </card>
        </div>

        <div class="column">
            <card title="Reddit" icon="reddit">
                <a target="_blank" href="https://www.reddit.com/message/compose/?to=WillingAlbatross">/u/WillingAlbatross</a>
                on Reddit
            </card>
        </div>
    </div>
  </section>
</template>
<script>
import { Base64 } from 'js-base64';
export default {
    data(){
        return {
            d: 'shared',
            j: 'switch',
            e: 'sampler',
            m: 'QGdtYWlsLmNvbQ=='
        }
    },
    methods: {
        // This probably doesn't obfuscate with SSR? Use a throwaway new email anyway ..
        ad(){
            return 'mailto:' + this.d + '.'  + this.j + '.' + this.e + Base64.decode(this.m);
        }
    }
}
</script>


606432492706070548